//font families
$regular: "dejavuSans";
$bold: "dejavuSans-bold";

//media query sizes
$size400: 401px;
$size480: 481px;
$size576: 576px;
$size600: 601px;
$size640: 641px;
$size720: 721px;
$size768: 769px;
$size960: 1025px;
$size1200: 1201px;
$size1280: 1281px;
$size1366: 1366px;
$size1440: 1441px;
$size1600: 1601px;

//colors
$black: #000000;
$black33: #333333;
$black13: #131313;
$gray66: #666666;
$gray99: #999999;

$grayE5: #e5e5e5;
$grayC9: #B7C9BA;
$grayDate: rgba(142, 153, 169, 1);
$gray25: rgba(255, 255, 255, 1);
$gray12:#101B12;
$white: #ffffff;
$whiteF5: #F5F5F5;
$creamyF2: #f2f2f2;
$error: #C7383F;
$siteColor: #0C4413;
$darcGrean: rgba(16, 27, 18, 1);
$lightGrean: rgba(183, 201, 186, 0.2);
$greanA8: #A8B7AE;
$disabledColor: rgba(183, 190, 201, 1);

$secondColor: $black;
$textColor: $black33;
$success: #38C758;
$info: #388BC7;
$warning: #FFD99F;
$devColor: #069dd5;

//social icons original color
$facebookColor: #3b5998;
$twitterColor: #00acee;
$youtubeColor: #c4302b;
$behanceColor: #053eff;
$linkedinColor: #0e76a8;
$okColor: #ed812b;
$pinterestColor: #c8232c;
$vkColor: #4c75a3;
$tiktokColor: #EE1D52;
$telegramColor: #0088cc;
$instagramColor: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

//sizes
$container1920: 1600px;
$container1600: 1120px;
$container1440: 1080px;
$container1280: 960px;
$colPadding1920: 15px;
$colPadding1600: 10px;
$colPadding1440: 10px;
$colPadding960: 8px;
$colPadding768: 4px;
$colPadding360: 4px;
$containerPadding: 15px;
$containerMobPadding: 15px;